:root {
  --textMain: #7E736E;
  --textAccent: #E3DDD6;

  --veryBad: #C8EBEB;
  --veryBadAccent: #3D7D7D;
  --bad: #FFD8CE;
  --badAccent: #A15A49;
  --neutral: #C8EBC8;
  --neutralAccent: #497A49;
  --good: #FBDFFF;
  --goodAccent: #915F94;
  --veryGood: #FFEEB8;
  --veryGoodAccent: #8B6C05;
}